<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Students Page</title>
</head>
<body>
	<!-- full url -->
	<a href="{{ url('app_read_session_route') }}">Click this to check cart</a>
</body>
</html>